<?php
/*
 * MotaWord
 *
 * This file was automatically generated by APIMATIC BETA v2.0 on 01/21/2016
 */

namespace MotaWord\Controllers;

use MotaWord\APIException;
use MotaWord\APIHelper;
use MotaWord\Configuration;
use Unirest\Unirest;
use Unirest\File;
class StyleGuideController {
    /**
     * Get a list of style guides
     * @param  int     $projectId     Required parameter: Project ID
     * @return mixed response from the API call*/
    public function getStyleGuides (
                $projectId) 
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId' => $projectId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare API request
        $request = Unirest::get($queryUrl, $headers);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 404) {
            throw new APIException('ProjectNotFound', 404, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
    /**
     * Upload a new style guide
     * @param  int        $projectId         Required parameter: Project ID
     * @param  string     $styleguide       Required parameter: You can add as many files as you want in styleguides[] parameter.
     * @return mixed response from the API call*/
    public function createStyleGuide (
                $projectId,
                $styleguide)
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId'     => $projectId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare parameters
        $parameters = array (
            "styleguides[]"        => File::add($styleguide)
        );

        //prepare API request
        $request = Unirest::post($queryUrl, $headers, $parameters);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 400) {
            throw new APIException('FileTooLarge', 400, $response->body);
        }

        else if ($response->code == 404) {
            throw new APIException('ProjectNotFound', 404, $response->body);
        }

        else if ($response->code == 405) {
            throw new APIException('UnsupportedStyleGuideFormat', 405, $response->body);
        }

        else if ($response->code == 409) {
            throw new APIException('ProjectAlreadyStarted', 409, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
    /**
     * Get single style guide
     * @param  int     $projectId        Required parameter: Project ID
     * @param  int     $styleGuideId     Required parameter: Style Guide ID
     * @return mixed response from the API call*/
    public function getStyleGuide (
                $projectId,
                $styleGuideId) 
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides/{styleGuideId}';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId'    => $projectId,
            'styleGuideId' => $styleGuideId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare API request
        $request = Unirest::get($queryUrl, $headers);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 404) {
            throw new APIException('StyleGuideNotFound', 404, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
    /**
     * Update the style guide. File name and contents will replaced with the new one.
     * @param  int        $projectId        Required parameter: Project ID
     * @param  int        $styleGuideId     Required parameter: Style guide ID
     * @param  string     $styleguides      Required parameter: Single file data. The name is plural to provide a consistent naming convention.
     * @return mixed response from the API call*/
    public function updateStyleGuide (
                $projectId,
                $styleGuideId,
                $styleguide)
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides/{styleGuideId}';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId'    => $projectId,
            'styleGuideId' => $styleGuideId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare parameters
        $parameters = array (
            "styleguides"       => File::add($styleguide)
        );

        //prepare API request
        $request = Unirest::put($queryUrl, $headers, $parameters);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 400) {
            throw new APIException('FileTooLarge', 400, $response->body);
        }

        else if ($response->code == 404) {
            throw new APIException('StyleGuideNotFound', 404, $response->body);
        }

        else if ($response->code == 405) {
            throw new APIException('UnsupportedStyleGuideFormat', 405, $response->body);
        }

        else if ($response->code == 409) {
            throw new APIException('ProjectAlreadyStarted', 409, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
    /**
     * Delete the style guide
     * @param  int     $projectId        Required parameter: Project ID
     * @param  int     $styleGuideId     Required parameter: Style Guide ID
     * @return mixed response from the API call*/
    public function deleteStyleGuide (
                $projectId,
                $styleGuideId) 
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides/{styleGuideId}';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId'    => $projectId,
            'styleGuideId' => $styleGuideId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare API request
        $request = Unirest::delete($queryUrl, $headers);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 404) {
            throw new APIException('StyleGuideNotFound', 404, $response->body);
        }

        else if ($response->code == 409) {
            throw new APIException('ProjectAlreadyStarted', 409, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
    /**
     * Download a style guide
     * @param  int     $projectId        Required parameter: Project ID
     * @param  int     $styleGuideId     Required parameter: Style Guide ID
     * @return string response from the API call*/
    public function downloadStyleGuide (
                $projectId,
                $styleGuideId) 
    {
        //the base uri for api requests
        $queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $queryBuilder = $queryBuilder.'/projects/{projectId}/styleguides/{styleGuideId}/download';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($queryBuilder, array (
            'projectId'    => $projectId,
            'styleGuideId' => $styleGuideId,
            ));

        //validate and preprocess url
        $queryUrl = APIHelper::cleanUrl($queryBuilder);

        //prepare headers
        $headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //prepare API request
        $request = Unirest::get($queryUrl, $headers);

        //and invoke the API call request to fetch the response
        $response = Unirest::getResponse($request);

        //Error handling using HTTP status codes
        if ($response->code == 404) {
            throw new APIException('StyleGuideNotFound', 404, $response->body);
        }

        else if (($response->code < 200) || ($response->code > 206)) { //[200,206] = HTTP OK
            throw new APIException("HTTP Response Not OK", $response->code, $response->body);
        }

        return $response->body;
    }
        
}